"""
Example bot settings for antinub-gregbot project.

At minimum you will need to add your bot's oauth in TOKEN and your discord user
ID in OWNER_ID so the bot only listens to you for volatile commands.
"""
import os

PROJECT_ROOT = os.path.abspath(os.path.dirname(__file__))
LOG_PATH = os.path.join(PROJECT_ROOT, 'log')

TOKEN = 'my token'
OWNER_ID = 'owner id here' # The ID of the person the bot should listen to for sensitive commands.

DEBUG = False # Extremely verbose logging when true.

STARTUP_EXTENSIONS = [
    'util',
    #'jabber',
]

JABBER_SERVERS = [
    {
        'jabber_id':    'user@jabber.server',
        'password':     'hunter2',
        'relay_from':   ['important_messages@jabber.server'],
        'channel':      'channel id here',
    },
    {
        'jabber_id':    'user@jabber2.server',
        'password':     'hunter2',
        'relay_from':   ['important_messages@jabber2.server'],
        'channel':      'channel id here',
    },
]