[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "~=1.7.2"
tinydb = "~=4.4"
aioxmpp = "~=0.12.2"
colorthief = "~=0.2.1"
EsiPy = "~=1.2.2"
discord-py-self = {editable = true, ref = "v1.7.6", git = "https://github.com/dolfies/discord.py-self.git"}
typing-extensions = "*"

[dev-packages]

[requires]
python_version = "3.9"
